.item {
    position: relative;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 40px;
    padding: 20px;
    padding-bottom: 50px;
    box-shadow: 5px 10px 8px 10px #888888;
}

.item img {
    border-radius: 20px;
    width: 70%;
}

.end-button {
    position: absolute;
    bottom: 5%;
}